body {
	background: lightgrey;
	margin: 0 auto;
	border: 5px solid black;
	padding: 40px;
	text-align: center;
	font-family: Papyrus, helvetica;
}

h1 {
	font-size: 50px;
	text-transform: uppercase;
	margin-top: 20px;
}

hr {
	border: none;
	border-top: 1px solid #222;
}

p {
	font-family: Papyrus, helvetica;
	font-size: 20px;
}

nav {
	padding-top: 30px;
	padding-bottom: 0px;
}

a {
	color: #222;
}